@media (max-width: 600px) {
  .grid {
    transform: scale(0.7);
  }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: Arial, sans-serif;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}
